* {
    box-sizing: border-box;
}

body { 
    
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(55, 55, 90);
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

.cepForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 20%;
    background: white;
    border-radius: 30px;
    box-shadow: 2px 8px 11px rgba(0, 0, 0, 0.2);
      
}

.cepInput {
    border-bottom: gray 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50%;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0;
    outline: none;
}

.cepInput: {
    border: none;
}

.cepInput::placeholder {
    text-align: center;
}

button {
    width: 50%;
    height: 2rem;
    background: linear-gradient(to right, #4091dd, #28b4d2);
    box-shadow: 2px 8px 11px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 100;
    color: #fff;
    cursor: pointer;

}

